body {
	background: #04030f ;
	color: #fffbff ;
	max-width: 800px ;
	margin: auto ;
	padding: 0 16px ;
	margin-bottom: 500px ;
	font-family: sans-serif ;
}

a {
	color: #f1dabf ;
}

a:hover {
	background-color: #ea9635
}
a:visited {
	color: #92817a ;
}

h1 {
	text-align: center ;
}

h2 {
	color: tomato ;
}

footer {
	text-align: center ;
}

img {
	max-width: 600px ;
	width: 100% ;
	margin: auto ;
	display: block ;
}

code {
	overflow-wrap: break-word ;
	color: lime ;
}

img[alt="BTC logo"],
img[alt="XMR Logo"] {
	max-width: 1em ;
	max-height: 1em ;
	display: inline ;
}

@media (prefers-color-scheme: light) {
	body {
		background: #fffbff ;
		color: #04030f ;
	}
	a {
		color: #362417 ;
	}
	a:visited {
		color: #544a46 ;
	}
	a:hover {
        	background-color: #e56b14
	}
	h2 {
		color: inherit ;
	}
	code {
		color: forestgreen ;
	}
}

@media print {
	a[href] {
		text-decoration: none ;
		color: black ;
	}
}

@media (min-width: 55em) {
	#artlist { column-count: 2 ;}
}

@media (min-width: 100em) {
	#artlist { column-count: 3 ;}
}
